{% extends "rdv/base.html" %}

{% block content %}
{% load static %}

<div class="flex-login mt-5">
    <img src="{% static 'rdv/images/get_vaccined.svg' %}" class="mt-2 " width="500px" height="auto">
    <form method="post"  role="form" action="/">
        {% csrf_token %}
        <div class="form-control">
            <input type="text" name="username" placeholder="Utilisateur">
        </div>
        <div class="form-control">
            <input type="password" name="password" placeholder="Mot de passe">
        </div>
        <button type="submit" value="login" >Se Connecter</button>
    </form>
</div>


{% endblock content %}
