{% extends "rdv/base.html" %}

{% block content %}
{% load static %}

<div class="container">
    <h1 class="text-capitalize">Bonjour {{request.user.username}} </h1>

    <p>Vous allez ici pouvoir prendre rendez-vous pour être vaccined contre la COVID-19</p>

    <form action="{% url 'appointment' doctor_id %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-control">
                        {{field.label_tag}}
                        {{field}}
                    </div>
                {% endfor %}
        <button type="submit" style="width:100px;">ENVOYER</button>
    </form>

    <a class="text-danger" href="/logout/" class="text-danger">Sortir</a>
</div>


{% endblock content %}
