{% extends "rdv/base.html" %}

{% block content %}
{% load static %}

<div class="container">
    <h1 class="text-capitalize">Bonjour {{request.user.username}} </h1>

    <p>Vous allez ici pouvoir prendre rendez-vous pour être vaccined contre la COVID-19</p>

    <form action="{% url 'appointment' doctor_id %}" method="post">
                {% csrf_token %}
                    {% for field in form %}
            {{form}}
            {% endfor %}

        <label for="schedule-select">Choissisez un créneau :</label>
        <select name="schedule" id="schedule-select">
            <option value="">--Please choose an option--</option>
            {% for field in matin %}
                <option value="{{field}}">{{field}}</option>
            {% endfor %}
            {% for field in aprem %}
                <option value="{{field}}">{{field}}</option>
            {% endfor %}
        </select>

        <button type="submit" style="width:100px;">ENVOYER</button>
    </form>

    <a class="text-danger" href="/logout/" class="text-danger">Sortir</a>
</div>


<script>

        console.log("check for web socket");
        let socket = new WebSocket('{{ web_socket }}');
        socket.onmessage = function (event) {
                console.log('connection web socket opened');
                console.log(event)
                socket.close()
        };

        socket.onclose = function () {
            console.log('connection web-socket closed');
        };

</script>
{% endblock content %}
