input, select{
    border: solid 3px blue;
    padding: 10px 20px;
    border-radius: 10px
}

label{
    font-size: 1.2em;
    font-weight: bold;
}

button{
    padding: 5px 10px;
    background-color: #45D0DE;
    color: white;
    border : solid 3px #45D0DE;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    padding: 5px 10px;
    background-color: white;
    color: #45D0DE;
    border: solid 3px #45D0DE;
    border-radius: 5px;
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-control{
    margin: 10px 0;
    border: none;
}

.flex-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}